<!-- bootstrap tutorial: https://www.w3schools.com/bootstrap/bootstrap_tables.asp -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Art Listing</h2>
  <p>Art listing from The Art Institute of Chicago</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Image Link</th>
        <th>Physical Description</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td>{{row.name}}</td>
        <td><a href="{{row.image_link}}">Image Link :D</a></td>
        <td>{% for part in row['dimensions_detail'] %}<ul><li>Part Name: {{part['part_name']}}</li><li>{{part['processed']}}</li></ul>{% endfor %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
