<!-- bootstrap tutorial: https://www.w3schools.com/bootstrap/bootstrap_tables.asp -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Art Listing</h2>
  <p>Art listing from The Art Institute of Chicago</p>

  <form action="/table" method="get" id="retrieveTable"></form>
  <form action="/scrape" method="get" id="scrapeData"></form>
  <form action="/delete_records" method="get" id="deleteData"></form>
</div>

<div class="container">
  <button type="submit" form="retrieveTable" class="btn btn-primary">Retrieve Table</button>
  <button type="submit" form="scrapeData" class="btn btn-primary">Call to Scrape Data</button>
  <button type="submit" form="deleteData" class="btn btn-primary">Call to Delete All Records</button>
</div>

<div class="container">
  {% if message is not none and not failed %}
  <div class="alert alert-success" role="alert">
    {{message}}
  </div>
  {% elif message is not none and failed %}
  <div class="alert alert-danger" role="alert">
    {{message}}
  </div>
  {% endif %}
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Image Link</th>
        <th>Physical Description</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td>{{row.name}}</td>
        <td><a href="{{row.image_link}}">Image Link :D</a></td>
        <td>{% for part in row['dimensions_detail'] %}<ul><li>Part Name: {{part['part_name']}}</li><li>{{part['processed']}}</li></ul>{% endfor %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
